*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$c-w: rgba(255, 255, 255, 0.7);
$c-r:rgb(133, 2, 3);





@keyframes to-right{
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    90%{
        transform: translateX(10px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes to-left{
    0%{
        transform: translateX(150px);
        opacity: 1;
    }
    90%{
        transform: translateX(-10px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}